@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", serif;
}

.blog-content h1 {
  font-size: clamp(26px, 4vw, 36px);
  font-weight: 600;
  color: #0f437f;
  margin-bottom: 16px;
}

.blog-content h2 {
  font-size: clamp(22px, 3vw, 28px);
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #0f437f;
}

.blog-content h3 {
  font-size: clamp(18px, 2.5vw, 22px);
  color: #0f437f;
  margin-top: 12px;
  margin-bottom: 8px;
}

.blog-content h6{
  color: #0f437f;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.blog-content p {
  margin-bottom: 16px;
  line-height: 1.7;
}

.blog-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem; 
  margin-bottom: 1rem;
}

.blog-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}

.blog-content a {
  color: #1875fd;
  transition: color 0.3s ease-in-out;
}

.blog-content a:hover {
  color: #0f4fcc;
}